.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.content{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    border: 2px transparent #fff;
    padding: 14px 40px;
    border-radius: 50px;
    margin-top: 20px;
}

@media (min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}