* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica;
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
    box-shadow: 0 1px 8px #ddd;
}

.nav, main {
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;

    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.nav {
    background: #1a1c1b;
    padding: 5px 0;
}

header a:hover {
    color: #b2dfdb;
}